name: 'Execução de pipeline / trabalho final para disciplina de Integração Continua'

on:
    workflow_dispatch:

jobs:

  inspecao:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Instalando yarn
        run: npm install -g yarn

      - name: Instalando dependências
        run: yarn

      - name: Checando padronização de código
        run: yarn lint

  testes:
    #maquina que vai rodar
    runs-on: ubuntu-latest
    needs: [inspecao]

    #passos do build
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Instalando Yarn
        run: npm install -g yarn

      - name: Instalando dependências
        run: yarn

      - name: Executando os testes
        run: npx mocha testes/testes-n1.js